
.icons-container {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 1800px) {
  .icons-container {
    grid-template-columns: repeat(4, 25%);
    width: 100%;
  }
}

@media screen and (max-width: 1500px) {
  .icons-container {
    grid-template-columns: repeat(3, 33%);
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .icons-container {
    grid-template-columns: repeat(2, 50%);
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .icons-container a {
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-gap: 10px;
    /* min-width: 300px; */
    hr {
      margin-bottom: 15px;
    }
}
}

.icons-container a {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    padding: 6px 20px 6px 20px;
    margin: 30px;
    border: 2px solid black;
    background-color: white;
    min-height: 540px;
    box-shadow: rgb(81, 81, 81) 1px 3px 7px;
}

.imageCard {
    
  position: relative;
  min-height: 450px;
  top: -19px;
  width: 300px;
  margin-top: 15px;
  
}


h2 {
    width: 300px;
    text-overflow: ellipsis;
    color: black;
    position: absolute;
    top: 4%;
    margin-top: 0;
    font-size: 18px;
}

.icons-container a:hover {
    position: relative;
    top: -23px;
    scale: 1.02;
    box-shadow: black 5px 9px 18px;
}

.active a {
    scale: 1.02;
    box-shadow: black 5px 9px 18px;
    transition: box-shadow 0.1s ease-in;
}
